<!--BREADCRUMB-->
<nav class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active"><a routerLink="/categorias">Categorias</a></li>
    <li class="breadcrumb-item active">{{pageTitle}}</li>
  </ol>
</nav>

<!-- TITULO -->
<div class="row">
  <div class="col">
    <h1 class="h2 border-left pl-2">
      {{pageTitle}}
    </h1>
  </div>
</div>

<!-- FORM -->
<form [formGroup]="categoriaForm" (submit)="submitForm()">
  <!-- CARD -->
  <div class="card">
    <!--CABEÇALHO-->
    <div class="card-header">
      Inf. Categoria
    </div>
    <!--CORPO-->
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-4">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">

          <div class="text-danger" *ngIf="categoriaForm.get('nome').invalid && categoriaForm.get('nome').touched">
            <div *ngIf="categoriaForm.get('nome').errors.required">Nome obrigatório</div>
            <div *ngIf="categoriaForm.get('nome').errors.minlength">Minimo 2 caracteres</div>
          </div>
        </div>

        <div class="form-group col-8">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>
      </div>

      <button [disabled]="submittingForm||categoriaForm.invalid" type="submit"
        class="btn btn-primary float-right">Salvar</button>
      <button routerLink="/categorias" type="button" class="btn btn-light float-right">Voltar</button>

    </div>

  </div>

</form>